<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028893075229-sdmlvtuoghm57ld9b5hgur09r18m045c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028893075229-sdmlvtuoghm57ld9b5hgur09r18m045c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028893075229-1m0blb0p389gdu6qiknekq1l3306294a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmlXcpYESQC4v71H0_AIhJztxdLsl3dMU</string>
	<key>GCM_SENDER_ID</key>
	<string>1028893075229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exon.taskerpage</string>
	<key>PROJECT_ID</key>
	<string>taskerpage-project</string>
	<key>STORAGE_BUCKET</key>
	<string>taskerpage-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028893075229:ios:dca092a30f71a2d39823f4</string>
</dict>
</plist>